src/main/resources/wsdl/soap.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://iban.mano.lt/soap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://iban.mano.lt/soap" targetNamespace="http://iban.mano.lt/soap">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://iban.mano.lt/soap">

    <xs:element name="GetIbanCheckRequest">

        <xs:complexType>

            <xs:sequence>

                <xs:element name="numberIBAN" type="xs:string"/>

            </xs:sequence>

        </xs:complexType>

    </xs:element>

    <xs:element name="GetIbanCheckResponse">

        <xs:complexType>

            <xs:sequence>

                <xs:element name="IbanCheck" type="tns:IbanCheck"/>

            </xs:sequence>

        </xs:complexType>

    </xs:element>

    <xs:complexType name="IbanCheck">

        <xs:sequence>

            <xs:element name="numberIBAN" type="xs:string"/>

            <xs:element name="statusIBAN" type="xs:boolean"/>


        </xs:sequence>

    </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="GetIbanCheckRequest">
    <wsdl:part element="tns:GetIbanCheckRequest" name="GetIbanCheckRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetIbanCheckResponse">
    <wsdl:part element="tns:GetIbanCheckResponse" name="GetIbanCheckResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IbanPort">
    <wsdl:operation name="GetIbanCheck">
      <wsdl:input message="tns:GetIbanCheckRequest" name="GetIbanCheckRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetIbanCheckResponse" name="GetIbanCheckResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IbanPortSoap11" type="tns:IbanPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetIbanCheck">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetIbanCheckRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetIbanCheckResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IbanPortService">
    <wsdl:port binding="tns:IbanPortSoap11" name="IbanPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>